@import '../../../scss/variables';

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.profile{
        >.count .heading{
            color: #312f2f;

    }
    }
    >.count{
        width: 30%;
        font-size: 24px;
        text-align: center;
        @media(max-width:$mobile){
            font-size: 18px;
        }
        .heading{
            color: $dark-purple;
            text-transform: capitalize;
        }
        .number{
            font-weight: bold;
            color:  #FFF;
        }
    }
}