@import '../../../scss/variables';

time{
  color:#deb6b6;
  font-size: 20px;
}
.wrapper{
  >div.item{
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: $purple;
    color: white;
    padding: 14px 20px;
    width: 90%;
    font-size: 20px;
    border-radius: 10px;
    +:nth-child(1n+1){
      background-color: $dark-purple;
    }
  }

 a, button{
    color:$white;
    text-decoration: none;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: transparent;
    border:none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
  }

  .line{
    width: 100%;
    height: 1px;
    background-color: $dark-purple;
    margin-bottom: 30px;
  }
}