@import '../../../scss/_variables.scss';

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    button{
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        
    }
}