@import '../../../../scss/variables';
@import '../../../../scss/animations';


.wrapper {
        position: relative;
        cursor: pointer;
        .menu{
        user-select: none;
        position: absolute;
        right: -146px;
        background-color: #fff;
        padding: 10px 12px;
        font-size: 14px;
        box-shadow: $bx-16;
        border-radius: 10px 0px 10px 10px;
        color: #000;
        width: 100px;
        display: none;
     
       animation: opacity .4s ease;
        &.show{
           display: block;
            right: 0px;
        }
        > ul{
            list-style: none;
            text-decoration: none;
            transition: color .2s ease;
            a{
                color: #000;
                &:hover,&.active{
                    color: $accent;
                    margin:4px 0;
                }
            }
        }
       
        }
}