@import '../../../../scss/variables';
@import '../../../../scss/animations';


.wrapper {
    position: relative;
    button{
        //background-color: transparent;
        //border: none;
       // outline: none;
        cursor: pointer;
        >svg{
            transition: .4s ease;
        }
    }
    .menu{
        position: absolute;
        top: calc(100%);
        right: -146px;
        background-color: #fff;
        padding: 10px 12px;
        font-size: 14px;
        box-shadow: $bx-16;
        border-radius: 10px 0px 10px 10px;
        color: #000;
        max-width: 116px;
        display: none;
        animation: slide .5s ease;
       //transition: .4s ease;
        &.show{
           display: block;
            right: -30px;
        }
        > ul{
            list-style: none;
            text-decoration: none;
            transition: color .2s ease;
            a{
                color: #000;
                &:hover,&.active{
                    color: $accent;
                    margin:4px 0;
                }
            }
        }
       
    }
}